.header {
    background-color: rgb(250, 253, 237);   
}

.header-font {
    color:dimgray;
    
}

.nav-link {
    color:dimgray;
    font-size: 25px;
    font-family: 'Playfair Display', serif;
    margin-right: 50px;
    text-align: center;
}

a:hover {
    color: black;
}

.image {
    width: 100%;
    
} 

h1 {
    font-family: 'Playfair Display', serif;
}

h2 {
    color:dimgray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif; 
}

p {
    color:dimgray;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.center {
    text-align: center;
}